.appointment__container {
  display: flex;
  align-items: start;
  padding-bottom: 70px;
}

.appintement__list {
  display: flex;
  @include reset-list;
}

.appointment__list-item {
  width: 300px;
}

.appointment__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 37px 30px;
  border-radius: 5px;
  font-weight: 300;
  flex-shrink: 0;
  background-color: #FFD600;
}

.appointment__item:last-child {
  padding: 39px 50px 30px;
  background-color: #FFE040;
}

.appointment__item::before {
  display: inline-block;
  vertical-align: middle;
  width: 87px;
  height: 87px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  mix-blend-mode: multiply;
  margin-bottom: 18px;
  content: "";
}

.appointment__item:nth-child(1)::before {
  background-image: url("../../img/treatment.png");
}

.appointment__item:nth-child(2)::before {
  background-image: url("../../img/prosthetics.png");
}

.appointment__item-heading {
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}

.appointment__item-text {
  margin: 0;
}

.appointment__form {
  position: relative;
  max-width: 540px;
  top: -90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $blue;
  color: $white-text;
  padding: 25px 33px 18px;
  border-radius: 5px;
}

.appointment__form-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 29px;
}

.appointment__form-input {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  padding: 20px 14px;
  margin-bottom: 12px;
}

.appointment__form-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.appointment__form-input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid $blue;
}

.appointment__form-input:focus {
  background-color: #fff;
}

.appointment__form-input:focus::placeholder {
  color: #222222;
}

.appointment__form-checkbox-span {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  order: 1;
}

.appointment__form-span {
  max-width: 256px;
  width: 100%;
  font-weight: 300;
  line-height: 21px;
}

.appointment__form-checkbox-style {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-size: 24px 17px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.appointment__form-checkbox:checked + .appointment__form-checkbox-style {
  background-image: url("../../img/check.svg");
}

.appointment__button {
  margin-bottom: 22px;
}

@include retina-bg {
  .appointment__item:nth-child(1)::before {
    background-image: url("../../img/treatment@2x.png");
  }

  .appointment__item:nth-child(2)::before {
    background-image: url("../../img/prosthetics@2x.png");
  }
}

@include breakpoint-down (1024px) {
  .appointment__container {
    padding: 0;
  }
}

@include breakpoint-down (1000px) {
  .appointment__list-item {
    width: 270px;
  }

  .appointment__form {
    top: -64px;
  }
}

@include breakpoint-down (900px) {
  .appointment__container {
    justify-content: center;
  }

  .appointment__item:first-child {
    display: none;
  }
}

@include breakpoint-down (690px) {
  .appointment__container {
    padding-bottom: 70px;
  }

  .appointment__list,
  .appointment__item:last-child {
    display: none;
  }

  .appointment__form {
    top: 0;
  }
}
