@import "visually-hidden";
@import "container";
@import "button";
@import "slider-button";
@import "site-header";
@import "sitenav";
@import "site-main";
@import "corousel";
@import "appointment";
@import "services";
@import "advantages";
@import "team";
@import "quality";
@import "reviews";
