.site-header {
  background-color: #fff;
  color: $dark-text;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.site-header__container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 56px;
}

.site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__top-phone {
  display: flex;
  flex-direction: column;
  color: $dark-text;
  font-size: 14px;
  line-height: 16px;
}

.site-header__top-phone-span {
  font-weight: 500;
}

.site-header__top-phone-number {
  font-weight: 300;
}