.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  background-color: $blue;
  border-radius: 5px;
  padding: 20px 33px 20px 0;
}

.sitenav__logo {
  display: none;
  flex-shrink: 0;
}

.sitenav__logo-img {
  display: block;
  width: 140px;
  height: auto;
}

.sitenav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  margin-left: 11px;
  margin-right: 11px;
}

.sitenav__item {
  margin-left: 18px;
  margin-right: 18px;
}

.item__link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: $white-text;
  line-height: 21px;
  transition: color 0.3s ease,
    opacity 0.3s ease;
}

.sitenav__item:hover .item__link {
  color: #FFD600;
}

.sitenav__item:active .item__link {
  opacity: 0.6;
}

.sitenav-social__links {
  display: flex;
  align-items: center;
}

.sitenav-social__link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.3s ease;
}

.sitenav-social__link:nth-of-type(1) {
  background-image: url("../../img/vk.png");
  background-size: contain;
}

.sitenav-social__link:nth-of-type(2) {
  background-image: url("../../img/instagram.png");
  background-size: 16px;
  margin-left: 13px;
}

.sitenav-social__link:nth-of-type(3) {
  background-image: url("../../img/twitter.png");
  background-size: 18px;
  margin-left: 12px;
}

.sitenav-social__link:hover {
  opacity: 0.8;
}

.sitenav-social__link:active {
  opacity: 0.6;
}

.sitenav__menu-toggler {
  display: none;
}

@include retina-bg {
  .sitenav-social__link:nth-of-type(1) {
    background-image: url("../../img/vk@2x.png");
  }

  .sitenav-social__link:nth-of-type(2) {
    background-image: url("../../img/instagram@2x.png");
  }

  .sitenav-social__link:nth-of-type(3) {
    background-image: url("../../img/twitter@2x.png");
  }

  .sitenav__menu-toggler {
    background-image: url("../../img/gamburger@2x.png");
  }

  .sitenav--open .sitenav__menu-toggler {
    background-image: url("../../img/close@2x.png");
  }
}

@include breakpoint-down (1024px) {
  .sitenav {
    position: relative;
    top: 0;
    transform: none;
    border-radius: 0;
    padding-left: 22px;
    padding-right: 30px;
  }

  .sitenav__logo {
    display: block;
  }
}

@include breakpoint-down (865px) {
  .sitenav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .sitenav--open {
    position: relative;
    z-index: 1;
  }

  .sitenav__list,
  .sitenav-social__links {
    display: none;
  }

  .sitenav--open .sitenav__list {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    background-color: $blue;
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding-bottom: 117px;
  }

  .sitenav--nojs .sitenav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .sitenav--open .sitenav__item {
    margin: 0;
  }
  .sitenav--nojs .sitenav__item {
    text-align: center;
  }

  .sitenav--open .item__link {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #FFD600;
    border: 1px solid #FFD600;
    text-transform: uppercase;
    transition: color 0.3s ease,
      background-color 0.3s ease;
  }

  .sitenav--open .item:active .item__link {
    color: $blue;
    background-color: #FFD600;
  }

  .sitenav__menu-toggler {
    display: block;
    width: 25px;
    height: 21px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../../img/gamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .sitenav--open .sitenav__menu-toggler {
    background-image: url("../../img/close.png");
    background-size: 22px 20px;
  }

  .sitenav--nojs .sitenav__menu-toggler {
    display: none;
  }

  .sitenav--open .sitenav-social__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: -436px;
    left: 0;
    background-color: $blue;
  }

  .sitenav--nojs .sitenav-social__links {
    display: flex;
  }
}

@include breakpoint-down (470px) {
  .sitenav--nojs .sitenav__list {
    flex-direction: column;
  }

  .sitenav--nojs .sitenav-social__links {
    flex-direction: column;
  }

  .sitenav--nojs .sitenav-social__link:nth-of-type(2),
  .sitenav--nojs .sitenav-social__link:nth-of-type(3) {
    margin-left: 0;
  }
}
